#container {
	width: 800px;
}

#container div {
	width: 100px;
	height: 120px;
}

/* Below turns off the display of the span tag contents. */

#container a span {
	display: none;
} 

#container a {
    display: block;
	padding: 0 0 46px 100px;
    text-decoration: none;
}

a.thumb1:link {
	border: 1px solid black;
	background-image: url(path to the image on which you want to hover, usually a thumbnail);
}

a.thumb2:link {
	border: 1px solid black;
	background-image: url(path to the image on which you want to hover, usually a thumbnail);
	background-repeat: no-repeat;
}

a.thumb3:link {
	border: 1px solid black;
	background-image: url(path to the image on which you want to hover, usually a thumbnail);
	background-repeat: no-repeat;
}

/* Below displays the span tag contents upon hovering over the a tags and positions the span tag contents. */

#container a:hover span {
   display: block;
   position: absolute; 
   top: 80px; 
   left: 200px; 
   z-index: 10;
   color: black;
}
